<!DOCTYPE html>
<html lang="en">
    <div class="grid-container">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Penguins 121</title>
    </head>
    <body>
        <div>
            <header class="header">   
                <div class="brand">
                    <a href="index.html">Penguins 121</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main>
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </main>
            <footer>
                &copy; 2023 Penguins 121
            </footer>
        </div>
    </body>
    </div>
</html>